* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 12px 3%;
  margin: 20px auto;
  width: 98%;
  border-radius: 10px;
  background-color: #0B112F;
  display: flex;
  flex-direction: column;
}

main h1 {
  color: white;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  background-color: #1D223F;
  border: 0;
  width: 100%;
  border-radius: 8px;  
  padding: 20px 0;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container {
  background-color: #1D223F;
  padding: 18px 3%;
  display: flex;
  margin-bottom: 12px;
  border-radius: 8px;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

p {
  margin: 4px;
}

.generate {
  background-color: #1D223F;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.number p {
  font-size: 12px;
  color: #242744;
  text-transform: uppercase;
}

.number span {
  color: white;
}

.settings p {
  font-size: 12px;
  color: #242744;
  text-transform: uppercase;
}

input[type=range] {
  width: 80%;
  height: 3px;
}

input[type=checkbox] {
  display: none;
}

.check {
  width: 60px;
  height: 35px;
  border-radius: 20px;
  background-color: #6E7081;
  padding: 4px;
}

.check div {
  height: 27px;
  background-color: white;
  width: 30px;
  border-radius: 50%;
}

.select {
  background-color: #5E6BDA;
  padding-left: 26px;
}

